
@font-face {
 font-family: 'FuturaBT-Light';
  src: local('Futura Light BT'),
        url('../fonts/Futura/FuturaBT-Light.woff') format('woff'),
        url('../fonts/Futura/FuturaBT-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Futura/FuturaBT-Light.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Futura/FuturaBT-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Futura/FuturaBT-Light.svg#OpenSans') format('svg'); /* Legacy iOS */


}
 *{
  font-family: 'FuturaBT-Light';
 }


.App {
  text-align: center;
 

}

.App-logo {
  border: 1px solid white;
  border-radius: 20px;
  animation: App-logo-fade  5s linear;
  height: 55vmin;

    -webkit-animation: App-logo-fade 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: App-logo-fade 5s; /* Firefox < 16 */
        -ms-animation: App-logo-fade 5s; /* Internet Explorer */
         -o-animation: App-logo-fade 5s; /* Opera < 12.1 */
            animation: App-logo-fade 5s;
 

}



.img-block 
{
 
      box-shadow: 7px 7px 8px #aaaaaa;
   
}

#logo {

      text-indent: -999px;
    width: 102px;
    height: 100px;
    background: url("../images/woodfired_logo_small.png");
    background-position: center;
      background-size: cover;
  
    margin: 0 0 0 -51px;
    position: absolute;
    top: 5px;
    left: 50%;
    overflow: hidden;
    border:1px solid white;
    border-radius: 20px;
    opacity: 1.0 !important;
}

.App-header {
    background-image: url("../images/pizza.jpg"); /* The image used */
  background-color: #3c2221; /* Used if the image is unavailable */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
 
    /*  -moz-box-shadow: 0px 6px 3px #3c2221;
    -webkit-box-shadow: 0px 6px 3px #3c2221;
    box-shadow: 0px 6px 3px #3c2221;
    */
      -moz-box-shadow: 0px 5px 16px #525252;
    -webkit-box-shadow: 0px 5px 16px #525252;
    box-shadow: 0px 5px 16px #525252;
    
 
}

/*
.app-footer {
   background-image: url("../images/header.jpg");
}
*/

.App-link {
  color: #61dafb;
}

/* Navbar */

.navbar-nav {
 width:100%;
}

.transparent-nav .navbar-toggler {
  background-color: #828282;
}

 
.transparent-nav {
  /*background:transparent !important;*/
  background-color: #383838;
  color:white !important;
  min-height: 115px;
    font-size: 0.75em;
        opacity: 0.8;

 
 
    
}
.transparent-nav .navbar-brand {
  color: white !important;
}

 a.nav-link {
  font-size: 18px;
  color:white !important;
  
 

}



 
   .transparent-nav   {
 
  min-height:80px;
 }

 

  .nav-space{
      width: 25%;
    text-align: center;
}

.transparent-nav-off {
   
  top:0;
  background-color: #ffffff;
  transition: 0.3s;
  -moz-box-shadow: 0px 4px 5px #5f5b5b7d9;
  -webkit-box-shadow: 0px 4px 5px #5f5b5b7d;
  box-shadow: 0px 4px 5px #5f5b5b7d;
 min-height: 70px;
    font-size: 0.75em;
 color:#e8e8e8 !important;

     animation: App-logo-fade  1s linear;
    -webkit-animation: App-logo-fade 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: App-logo-fade 1s; /* Firefox < 16 */
        -ms-animation: App-logo-fade 1s; /* Internet Explorer */
         -o-animation: App-logo-fade 1s; /* Opera < 12.1 */
            animation: App-logo-fade 1s;

}

.transparent-nav-off .navbar-brand {
  color: #e8e8e8 !important;
}

.transparent-nav-off .nav-link {
      color: #424040 !important;
}


/* End Navbar */

 
 
h2 {
  overflow: hidden;
  text-align: center;
  font-size: 2.5rem !important;
 
  
  
}

h2:before,
h2:after {
    background-color: #d54939;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 5%;

}

h2.dark:before,
h2.dark:after {
    background-color: #8e8e8e;
 

}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}


h5 {
  font-size: 2rem !important;
  font-weight: 100 !important;
  color: #d54939 !important;
  font-weight: 100 !important;
 
}

h4 {
 
  font-size: 1.25em !important;
  
  color: #d54939 !important;
}

.noPadTop {
  padding-top: 0px !important;
}
.light-white {
   color: #231f20 !important;
}
.light-orange { 
color: #ffcfcf !important; 
}

 

.light-grey {
  color: #8e8e8e !important;
}

.light-pink {
  color: #ff9387 !important;
}

.txt-orange {
  color: #d54939 !important;
}

.txt-med {
      font-size: 1.05em;
}

.txt-header {
  font-size: 3.25em;
  font-weight: 900;
}

.txt-header-small {
  font-size: 1.5em;
 
}


.txt-header-block {
    background: rgba(227, 207, 196, 0.28);
    border-radius: 8px;
}

.txt-faq {
      font-size: 0.85em;

}


.hr-style {
      margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.1);
    background-color: #d54939;
    width: 20%;
}

.hr-style-grey {
      margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.1);
    background-color: #8e8e8e;
    width: 20%;
}

.hr-style-light {
      margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #d54939;
    width: 16%;
}


.txt-black{ color: #231f20 !important; }
.txt-dark {color:#505050 !important;}
.txt-light {color:#888888 !important;}

.content-section {
  height:auto;
  background-color:#FFFFFF !important;
  padding-top:80px;
  max-width: 1600px;
  margin: 0 auto;
  /*padding-bottom: 120px;*/
  /*background-color:#ede8c8 !important;*/
}

.content-container {
    position: relative;
    padding: 10px 10px 60px 10px;
    /* top: 50px; */
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 50px;
    /* top: -50px; */
    background-color: #FFFFFF;
    height: auto;
    min-height: 600px;
    /* box-shadow: 0px 4px 5px #585858; */
    text-align: center;
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    width: 86%;
    max-width: 1100px;
    margin: 0 auto;
}

.content-block {
 height:300px;
 line-height: 300px;
 color:white;
 
}

.content-block:hover {
 
    background-color:#80808054;
    color:white;
    margin: auto;
}

.arrow{   
  width: 85px;
    height: 25px;
     margin: 0 0 0 -42px;
    position: absolute;
    top: 0;
    left: 50%;}

.faqs-box {
  display: inherit;
}
 

.faqs-box-bar {
  width:4px;
  height: 60px;
      margin-right: 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .faqs-box-bar {
  display: none;
}
 

}

 







.block-box-white {
      background-color: white;
 
    width: 102px;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: auto;

    height: 11px;
}

.block-box-black {
      background-color: #231f20;
 
    width: 102px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: auto;
    height: 11px;
}

.block-orange {
  background-color: #d54939;
  color: #FFFFFF !important;
  font-size: 18px;
}

.block-black {
  background-color: #231f20;
  color: #FFFFFF !important;
  font-size: 18px;
  max-width:  100% !important;
}

.block-content {
 
  max-width:  1600px !important;
}


.block-title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.content-footer {
    
    color: #d8d8d8 !important;
    font-size: 1em;
     /* border-top: 5px solid #5f5d5d;
     background-color: #5f5d5d; */
    padding-top: 100px;
   background-color: #231f20;
   text-decoration: none;
  
 
}

a.footer-link {
  text-decoration: none;
  color: #d8d8d8 !important;
}

.content-info-box {
  /*background-color: #040503;*/
  background-color: #413f41; 
    color: #e8e8e8;
    font-size: 18px;
    padding: 10px;
    height: 60vh;
}

.content-info-border {
    border: 4px dotted #3c2221;
    border-radius: 3px;
    }

ul.info-box {
  list-style-image: url('../images/peel-white.png');
}
ul.info-box li {
  padding-bottom:11px;
}

ul.list-box {
  list-style-image: url('../images/peel-black.png');
}
ul.list-box li {
  padding-bottom:20px;
}


/*CONTACT STYLING*/


.form-control {
  background-color: #f5f5f5 !important ;
}

.contact-page {

}
.contact-phone {
  text-decoration:  none !important ;
  color:#212529;
  font-weight:  bold;

}

.contact-img {
    width:100%;
}



@keyframes App-logo-fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes App-logo-fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes App-logo-fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 